@import url('https://fonts.googleapis.com/css2?family=Anton&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    
    padding: 0px;
    box-sizing: border-box;
}


.body{
    font-family:Quicksand;
}

.logo{
    display: flex;
}
.logo img{
    width: 62px;
    height: 62px;
    margin-bottom: 10px;
}

.unorder-list{
    display: flex;
}

.order-list{
    margin-left: 30px;
    list-style: none;
}

.anchor{
    text-decoration: none;
    color: rgb(12, 12, 12);
}

.main-nav{
    display: flex;
  
}

.navber{
    display: flex;
    justify-content: space-around;
    width: 1440px;
    height: 102px;
    /* border: 1px solid rebeccapurple; */
    margin: 0px auto;
    padding: 10px;
}
.primary-btn{
    background-color: orange;
    border: none;
    width: 197px;
    height: 50px;
    border-radius: 12px;
    color: aliceblue;
    margin-left: 300px;
    padding: 10px 0px;
}

#orange{
 color:orange
}
#skyblue{
    color: skyblue;
}
#pest{
    color: #05D4DF;
}
#beguni{
    color: #5D58EF;
}

.menu-icon{
    width: 33px;
    height: 25px;
    margin-top: 20px;
    opacity: 0%;
}




.banner-heading{
    width: 640px;
    height: 183px;
    font-weight: 700;
    font-size: 3.5rem;
}

.banner-description{
    width: 640px;
    height: 50px;
    font-weight: 400;
    font-size: 1.3rem;
}

.button{
    background-color: black;
    border: none;
    width: 197px;
    height: 50px;
    border-radius: 12px;
    color: aliceblue;
    padding: 10px 0px;
}

.banner{
    display: flex;
    max-width:1215px;
    height: 575px;
    margin: 0px auto;
    gap:90px;
    /* border: 1px solid rebeccapurple; */
}

.kids-img{
    width: 100%;
}



.box{
    width: 367px;
    height: 386px;
   padding-top: 40px;
    /* border: 1px solid rebeccapurple; */
    text-align: center;
    border-radius: 20px;
    background-image:linear-gradient(rgb(224, 245, 250),rgb(255,255,255));
}


.tomato-color{
    background-image:linear-gradient(rgb(246, 232, 209),rgb(255,255,255));
}

.beguni-color{
 background-image: linear-gradient(#e9e8f5,#FFFFFF);

}

.box a{
    text-decoration: none;
    color: orange;
}



.curriculum{
    /* border: 1px solid rebeccapurple; */
    text-align: center;
    background-image: url(image/bg.png);
    width: 1300px;
    height: 560px;
    margin:0px auto;
}


.curriculum-box{
    display: flex;
    width: 1300px;
    height: 540px;
    /* background-image: url(image/bg.png); */
    margin:0px auto;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid rebeccapurple; */
}

.curriculum-heading{
    font-size: 2rem;
    font-weight: 700;
    
    /* border: 1px solid rebeccapurple; */
    
}














@media screen  and (max-width:576px){
    .unorder-list , .primary-btn{
        display: none;
    }
    .navber{
        max-width: 100%;
        margin: 0px auto;
        padding: 0px;
        height: 70px;
        border-bottom: 1px solid orange;
    }

    .menu-icon{
        opacity: 100%;
    }
    .logo-heading{
        display: none;
    }
    .logo{
        margin-right: 250px;
        /* border: 1px solid rebeccapurple; */
    }

    .banner{
        flex-direction:column-reverse;
        gap: 5px;
       max-width:90%;
       margin: 150px auto;
       justify-content: center;
       /* padding: 0px; */
        height: 725px;
        /* margin-top: 270px;
        margin-bottom: 0px; */
    }
    .banner-content{
        text-align: center;
    }


   .banner-heading{
    width: 100%;
    font-size: 2rem;
   
   }
   .banner-description{
    width: 350px;
    /* height: 14px; */
    margin-top:0px;
    margin-left: 30px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 1rem;
   }
   .curriculum{
   background-image: none;
   /* width: 100%; */
   width: 300px;
   }

   .curriculum-box{
    flex-direction: column;
    justify-content:flex-start;
    /* border: 1px solid rebeccapurple; */
    width: 40%;
    /* row-gap: 120px; */
    margin:0px;
    
   }

   .curriculum-heading{
    text-align: left;
    margin-left: 75px;
   }

   .box{
    margin-bottom: 100px;
    margin-left: 190px;
   }

   .box{
    width: 320px;
    height: 220px;
   padding-top: 20px;
   font-size: 0.8rem;
   }



}

